body {
  background-image: url("../img/bg4.jpg");
  background-size: cover;
  object-fit: fill;
}
body div {
  text-align: center;
}
body div:last-child {
  display: flex;
  justify-content: space-evenly;
}

h4 {
  font-size: 1.5rem;
  color: black;
  background-color: white;
  width: 50%;
  padding: 10px;
}

h5 {
  font-size: 1rem;
  background-color: grey;
  width: 50%;
  padding: 5px;
}

h6 {
  font-size: 1rem;
  background-color: green;
  color: white;
  padding: 3px;
}

b {
  text-transform: uppercase;
}

